<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>捏脸</string>
		<key>type</key>
		<string>face</string>
		<key>subTypeArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>发型</string>
				<key>type</key>
				<string>hair</string>
				<key>path</key>
				<array>
					<string>QItems/hair</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>face</string>
				<key>name</key>
				<string>脸型</string>
			</dict>
			<dict>
				<key>type</key>
				<string>eyes</string>
				<key>name</key>
				<string>眼型</string>
			</dict>
			<dict>
				<key>type</key>
				<string>mouth</string>
				<key>name</key>
				<string>嘴型</string>
			</dict>
			<dict>
				<key>type</key>
				<string>nose</string>
				<key>name</key>
				<string>鼻型</string>
			</dict>
			<dict>
				<key>type</key>
				<string>beard</string>
				<key>name</key>
				<string>胡子</string>
				<key>path</key>
				<array>
					<string>QItems/beard</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美妆</string>
		<key>type</key>
		<string>makeup</string>
		<key>subTypeArray</key>
		<array>
			<dict>
				<key>type</key>
				<string>eyeLash</string>
				<key>path</key>
				<array>
					<string>QItems/makeup/eyelash</string>
				</array>
				<key>name</key>
				<string>睫毛</string>
			</dict>
			<dict>
				<key>type</key>
				<string>eyeLiner</string>
				<key>path</key>
				<array>
					<string>QItems/makeup/eyeliner</string>
				</array>
				<key>name</key>
				<string>眼线</string>
			</dict>
			<dict>
				<key>type</key>
				<string>eyeShadow</string>
				<key>path</key>
				<array>
					<string>QItems/makeup/eyeshadow</string>
				</array>
				<key>name</key>
				<string>眼影</string>
			</dict>
			<dict>
				<key>type</key>
				<string>eyeBrow</string>
				<key>path</key>
				<array>
					<string>QItems/makeup/eyebrow</string>
				</array>
				<key>name</key>
				<string>眉毛</string>
			</dict>
			<dict>
				<key>type</key>
				<string>pupil</string>
				<key>path</key>
				<array>
					<string>QItems/makeup/pupil</string>
				</array>
				<key>name</key>
				<string>美瞳</string>
			</dict>
			<dict>
				<key>type</key>
				<string>lipGloss</string>
				<key>path</key>
				<array>
					<string>QItems/makeup/lipgloss</string>
				</array>
				<key>name</key>
				<string>唇妆</string>
			</dict>
			<dict>
				<key>type</key>
				<string>faceMakeup</string>
				<key>path</key>
				<array>
					<string>QItems/makeup/facemakeup</string>
				</array>
				<key>name</key>
				<string>腮红</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>服饰</string>
		<key>type</key>
		<string>dress</string>
		<key>subTypeArray</key>
		<array>
			<dict>
				<key>type</key>
				<string>glasses</string>
				<key>path</key>
				<array>
					<string>QItems/glasses</string>
				</array>
				<key>name</key>
				<string>眼镜</string>
			</dict>
			<dict>
				<key>type</key>
				<string>hairHat</string>
				<key>path</key>
				<array>
					<string>QItems/hair_hat</string>
				</array>
				<key>name</key>
				<string>帽子</string>
			</dict>
			<dict>
				<key>type</key>
				<string>clothes</string>
				<key>name</key>
				<string>套装</string>
				<key>path</key>
				<array>
					<string>QItems/cloth/suits</string>
					<string>QItems/cloth/dress</string>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>upper</string>
				<key>path</key>
				<array>
					<string>QItems/cloth/upper</string>
				</array>
				<key>name</key>
				<string>上衣</string>
			</dict>
			<dict>
				<key>type</key>
				<string>lower</string>
				<key>path</key>
				<array>
					<string>QItems/cloth/lower</string>
					<string>QItems/cloth/skirt</string>
				</array>
				<key>name</key>
				<string>下衣</string>
			</dict>
			<dict>
				<key>type</key>
				<string>shoes</string>
				<key>path</key>
				<array>
					<string>QItems/cloth/shoes</string>
				</array>
				<key>name</key>
				<string>鞋子</string>
			</dict>
			<dict>
				<key>type</key>
				<string>decorations</string>
				<key>path</key>
				<array>
					<string>QItems/decoration</string>
				</array>
				<key>name</key>
				<string>饰品</string>
			</dict>
			<dict>
				<key>type</key>
				<string>dress_2d</string>
				<key>path</key>
				<array>
					<string>QItems/background/dress_2d</string>
				</array>
				<key>name</key>
				<string>dress_2d</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
