<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typeName</key>
		<string>发型</string>
		<key>items</key>
		<array>
			<string>hair-noitem</string>
			<string>male_hair_0</string>
			<string>male_hair_1</string>
			<string>male_hair_2</string>
			<string>male_hair_3</string>
			<string>male_hair_4</string>
			<string>male_hair_5</string>
			<string>male_hair_6</string>
			<string>male_hair_t_1</string>
			<string>male_hair_t_2</string>
			<string>male_hair_t_3</string>
			<string>male_hair_t_4</string>
			<string>female_hair_7</string>
			<string>female_hair_10</string>
			<string>female_hair_11</string>
			<string>female_hair_12</string>
			<string>female_hair_13</string>
			<string>female_hair_15</string>
			<string>female_hair_16</string>
			<string>female_hair_21</string>
			<string>female_hair_22</string>
			<string>female_hair_23</string>
			<string>female_hair_t_1</string>
			<string>female_hair_t_2</string>
			<string>female_hair_t_3</string>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>眼镜</string>
		<key>items</key>
		<array>
			<string>glasses-noitem</string>
			<string>female_glass_1</string>
			<string>female_glass_5</string>
			<string>female_glass_6</string>
			<string>female_glass_7</string>
			<string>male_glass_1</string>
			<string>male_glass_5</string>
			<string>male_glass_6</string>
			<string>male_glass_7</string>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>衣服</string>
		<key>items</key>
		<array>
			<string>female_clothes</string>
			<string>female_clothes_2</string>
			<string>female_clothes_3</string>
			<string>male_clothes</string>
			<string>male_cloth_02</string>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>胡子</string>
		<key>items</key>
		<array>
			<string>beard-noitem</string>
			<string>male_beard_1</string>
			<string>male_beard_2</string>
			<string>male_beard_3</string>
			<string>male_beard_4</string>
			<string>male_beard_5</string>
			<string>male_beard_6</string>
		</array>
	</dict>
	<dict>
		<key>typeName</key>
		<string>帽子</string>
		<key>items</key>
		<array>
			<string>hat-noitem</string>
			<string>female_hat_8</string>
			<string>female_hat_9</string>
			<string>female_hat_10</string>
			<string>female_hat_11</string>
			<string>male_hat_8</string>
			<string>male_hat_9</string>
			<string>male_hat_10</string>
			<string>male_hat_11</string>
		</array>
	</dict>
</array>
</plist>
